

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    max-width: 960px;
}

.jumbotron {
    background-image: url("../img/stedentrip-rome.jpg");
    background-position: center;
}

.jumbotron h1, .jumbotron p {
    color: white;
    text-align: right;
}

.col-md-2 {
    padding-top: 15px;
}

img {
    width: 150px;
    height: 150px;
}

.collapse-desc {
    height: 100px;
    text-overflow: ellipsis;
    overflow-y: hidden;
    transition: 1s !important;
}
